<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Preshak - file sharing service</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/img/send.png"/>
        <link rel="stylesheet" href="/css/newstyle.css">
    </head>
    <body>
        <div class="body-container">
            <div class="nav-container">
                <img class="dark-logo" src="/img/preshak_logo.png" alt="Logo_img">
                <a class="dark-a"><img class="dark-img" src="/img/bolt.png" alt="moon"></a>
            </div>

            <div class="main-container-download">
                <p class="title">How Preshak Works!</p>
                <p class="small-text">
                Hi Users, with preshak you can send and receive your files with in seconds. Do use it.
                </p>
                <div class="hiw-main">
                    <div class="hiw-right">
                        <div class="hiw-right-img">
                            <img src="/img/mobile0.png" id="tab-1-content" class="tab-content-item show">
                            <img src="/img/mobile.png" id="tab-2-content" class="tab-content-item">
                            <img src="/img/mobile3.png" id="tab-3-content" class="tab-content-item">
                            <img src="/img/mobile2.png" id="tab-4-content" class="tab-content-item">
                        </div>
                    </div>

                    <div class="hiw-left">
                        <div id="tab-1" class="hiw-left-box tab-content active">
                            <img src="/img/selection.png">
                            <p class="hiw-head">Select file to be exported</p>
                            <p class="hiw-desc">You can select the file which you want to send</p>
                        </div>
                        <div id="tab-2" class="hiw-left-box tab-content">
                            <img src="/img/cloud-computing2.png">
                            <p class="hiw-head">Upload selected file to server</p>
                            <p class="hiw-desc">You can select the file which you want to send</p>
                        </div>
                        <div id="tab-3" class="hiw-left-box tab-content">
                            <img src="/img/copy2.png">
                            <p class="hiw-head">Copy generated link or send mail</p>
                            <p class="hiw-desc">You can select the file which you want to send</p>
                        </div>
                        <div id="tab-4" class="hiw-left-box tab-content">
                            <img src="/img/down-arrow.png">
                            <p class="hiw-head">Download your file in seconds</p>
                            <p class="hiw-desc">You can select the file which you want to send</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <script src="/js/newSelect.js"></script>
    </body>
</html>