<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Preshak - file sharing service</title>
        <link rel="stylesheet" href="style2.css">
        <link rel="icon" type="image/png" href="telegram.png"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="body-container">
            <div class="nav-container">
                <a href="home.html"><img src="preshak_logo.png" alt="Logo_img"></a>
            </div>
            <div class="main-container-download">
                <p class="title">Download Your File Now!</p>
                <p class="small-text">
                No Delay . Quick Download . Your file is ready to be downloaded, you can download it now
                </p>
                <p class="small-text2">
                Link expires in 24 hrs
                </p>
                <p class="link">
                    <%= fileName %>
                </p>
                <a href="<%= downloadLink %>">Download Now</a>
            </div>
            <div class="img-banner">
                <img src="chote.png" alt="File Sharing">
            </div>
        </div>
    </body>
</html>