<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Preshak - file sharing service</title>
        <link rel="stylesheet" href="/css/newstyle.css">
        <link rel="icon" type="image/png" href="/img/send.png"/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="body-container">
            <div class="nav-container">
                <img src="/img/preshak_logo.png" alt="Logo_img">
            </div>
           
            <div class="main-container">

                <div class="container-block">
                    <p>Free Cloud-Based Reliable<br/>File Transfer </p>
                    <img class="img1 suspension" src="/img/youtube_download.png" alt="file">
                    <img class="img2 suspension2" src="/img/cloud_download.png" alt="cloud">
                    <img class="img3 suspension3" src="/img/file_download.png" alt="file">
                    <img class="img4 suspension" src="/img/select.png" alt="select">
                
                    <div class="main-upload drop-zone disnone">
                        <div class="main-upload-inner">
                            <div class="main-upload-inner-img">
                                <img src="/img/send.png" class="main-upload-inner-img-inner" alt="telegram">
                            </div>
                            <input type="file" id="fileInput">
                            <div class="title" id="droptitle">Drop your files here or <span class="browseBtn">browse</span></div>
                            
                            <div class="progress-container">
                                <div class="bg-progress"></div>
                                <div class="inner-container">
                                    <div class="percent-container title">Uploading <span id="percent">0</span>%</div>
                                    <div class="progress-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="sharing-container">
                    <div class="email-container">
                        <div class="main-link">
                            <p>You can share the generated link</p>
                            <div class="main-link-box">
                                <div class=" input-container main-link-box-link">
                                    <input type="text" id="fileURL" readonly value="https://preshak.herokuapp.com/217427vs1212/">
                                    <img src="/img/copy.png" alt="copy_icon" id="copyBtn">
                                </div>
                            </div>
                        </div>
                        <div class="main-form">
                            <p>OR send via email</p>
                            <div class="main-form-box">
                                <form id="emailForm">
                                    <input type="email" placeholder="Your email address" required name="from-email" id="sender">
                                    <br/>
                                    <input type="email" placeholder="Receiver email address" required name="to-email" id="receiver">
                                    <br/>
                                    <button type="submit">Send</button>
                                </form>
                            </div>
                        </div>    
                    </div>
                </div>

                

            </div>

            <div class="banner">
                <p>You with preshak can send files size up to 100MB Free*
                <button>How preshak works?</button>
                </p>
            </div>
        </div>
        <div class="toast"></div>

        <script src="/js/newindex.js"></script>
    </body>
</html>